body{
    width: 100vw;
    height: 100vh;
    font-family: 'Comfortaa', cursive;
    font-size:0.7rem;
    line-height: 1.4rem;
    color: #000000;
    margin: 0px;
    padding: 0px;
    display: block;
    font-weight: 300;
    overflow-x: hidden;

}

.intro{
    display: block;
    max-width: 100vw;
    padding: 10px;
    text-align: center;
}


.main{
    display: flex;
    flex-direction: column;
    height: 100vh; 
    padding: 10px;
    border: 1px solid black;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.sub-main{
    display: flex;
    flex-direction: row;
    height: 100vh; 
    border: 1px solid black;
}


.main-container{
    display:flex;
    height: 45vh; 
    padding: 20px;
    overflow: scroll;
    overflow-y: hidden;
}

.subject{
    writing-mode: vertical-rl;
    text-orientation: mixed;
    padding: 10px;  
    padding-top: 25px; 
    border-right: 1px solid black;

}

.contents{
    display: flex;
    flex-direction: row;
    width:fit-content;  
}
    

.works{
    display: relative;
    padding: 0px;
    border: 1px solid black;
    background-color: transparent;
    width: 500px;
    height: 40vh; 
    margin: 2px;
}

.work-01{
    display: relative;
    width: 500px;
    height: 40vh; 
    background-color: transparent;
    border: 1px solid black;

}

.work-caption{
    position:static;
    margin: -23vh;
    text-align: center;
    display:none;
  }




.img-gen{
    width: 500px;
    height: 40vh; 
}

.works:hover{
    border-radius: 40px;
    transition-duration: 500ms;
    cursor:pointer;
    background-color:none;
    color: white;
  }

  .work-01:hover{
    border-radius: 40px;
    transition-duration: 500ms;
    cursor:pointer;
    background-color:none;
    color: white;
  }

  .img-gen:hover{
      display: block;
    border-radius: 40px;
    transition-duration: 500ms;
    cursor:pointer;
    background-color:none;
    color: white;
  }

  .work-caption:hover{
    display:block;
  }


a {
    color: Black;
    text-decoration: none;
    cursor:pointer;
  }
  
  a.hover{
    text-decoration: none;
  }